
main{
    min-height: 100vh;
    background: rgb(215, 228, 255);
}
#linkForm{
    box-shadow: 0px 0px 15px -5px black;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}
.link_input{
    padding: 20px;
    border: 1px solid gray;
    outline: none;
    border-radius: 2px;
    width: 100%;
    font-size: 22px;
    background: #bfe3f163;
}
.link_submit{
    outline: none;
    border: none;
    width: 50%;
    font-size: 19px;
    padding: 18px;
    background: #0d6efd;
    font-weight: 400;
    color: whitesmoke;
}